/* jarak */
#root {
  max-width: 1200px;   
  margin: 0 auto;     
  padding: 1rem;       
}


.logo {
  height: 4rem;        
}

/* form card */
.card {
  border-radius: 0.5rem;   
}

.read-the-docs {
  color: #6c757d;    
}
